<%- include("../partials/header", {title: "Connexion"}) %>
<main>
    <form action="" method="post" class="user-form">
        <h2>Log in to your account</h2>
        <%- include("../components/input", {type: "email", name: "email", placeholder: " Email"}) %>
        <%- include("../components/input", {type: "password", name: "password", placeholder: " Password"}) %>
        <%- include("../components/button", {type: "submit", label: "Log In", color: "purple"}) %>    
    </form>
</main>
<%- include("../partials/footer") %>
