<%- include("../partials/header", {title: "Inscription"}) %>
    <form action="" class="user-form">
        <h2>Inscription</h2>
        <%- include("../components/input", {type: "text", name: "username"}) %>
        <%- include("../components/input", {type: "email", name: "email"}) %>
        <%- include("../components/input", {type: "password", name: "password"}) %>
        <button type="submit">s'inscrire</button>
    </form>
<%- include("../partials/footer") %>
